<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="modal fade" id="divPasswordChangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">비밀번호 변경</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-3">
                        <label for="inpPrevPassword" class="col-sm-4 col-form-label">기존 비밀번호</label>
                        <div class="col-sm-8">
                            <input type="password" name="prevPassword" class="form-control" id="inpPrevPassword">
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <label for="inpNewPassword" class="col-sm-4 col-form-label">변경 비밀번호</label>
                        <div class="col-sm-8">
                            <input type="password" name="newPassword" class="form-control" id="inpNewPassword">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inpConfirmNewPassword" class="col-sm-4 col-form-label">변경 비밀번호 확인</label>
                        <div class="col-sm-8">
                            <input type="password" name="confirmNewPassword" class="form-control" id="inpConfirmNewPassword">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnPasswordChange">변경</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const SC_PASSWORD_CHANGE = (function ($) {
            let _args;
            let _data;
            let _el;
            let _methods;
            let _eventHandle;
            let _fetch;
            let _init;

            _args = {}
            _data = {}
            _el = {
                inpPrevPassword: () => $('#inpPrevPassword'),
                inpNewPassword: () => $('#inpNewPassword'),
                inpConfirmNewPassword: () => $('#inpConfirmNewPassword'),
                btnPasswordChange: () => $('#btnPasswordChange'),
            }
            _methods = {
                passwordChange: async function () {
                    let prevPassword = _el.inpPrevPassword().val();
                    let newPassword = _el.inpNewPassword().val();
                    let confirmNewPassword = _el.inpConfirmNewPassword().val();

                    if (!prevPassword) {
                        alert('기존 비밀번호를 입력해주세요.');
                        _el.inpPrevPassword().focus();
                        return;
                    }
                    if (!newPassword) {
                        alert('변경 비밀번호를 입력해주세요.');
                        _el.inpNewPassword().focus();
                        return;
                    }
                    if (newPassword.length < 4) {
                        alert('변경 비밀번호는 4자 이상 입력해주세요.');
                        _el.inpNewPassword().focus();
                        return;
                    }
                    if (!confirmNewPassword) {
                        alert('변경 비밀번호 확인을 입력해주세요.');
                        _el.inpConfirmNewPassword().focus();
                        return;
                    }
                    if (newPassword !== confirmNewPassword) {
                        alert('변경 비밀번호와 변경 비밀번호 확인이 일치하지 않습니다.');
                        return;
                    }

                    await _fetch.passwordChange({prevPassword, newPassword, confirmNewPassword});
                    alert('비밀번호가 변경되었습니다.');
                    location.href = '/auth/logout';
                }
            }
            _eventHandle = function () {
                _el.btnPasswordChange().on('click', function () {
                    _methods.passwordChange();
                })
            }

            _fetch = {
                passwordChange: function (params) {
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: '/api/admins/password-change',
                            type: 'PUT',
                            contentType: 'application/json',
                            data: JSON.stringify(params),
                            success: function (data) {
                                resolve(data);
                            }
                        });
                    })
                },
            }

            _init = function (args = {}) {
                _args = args;
                _eventHandle();

            }

            return {
                init: _init
            }
        }(jQuery));

        $(function() {
            SC_PASSWORD_CHANGE.init();
        })
    </script>
</body>
</html>
